.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f8f9fa;
    padding: 0 20px;
    position: sticky;
    margin: 0 2vw
  }
  
.navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar-left > * + * {
    margin: 0 2vw;
}

.navbar-left img {
    height: 2.5vh;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 0.5vh;
}
  
.navbar-left a {
    font-size: 0.9rem;
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
}
  
.navbar-right {
    display: flex;
    align-items: center;
}

.nav-list {
    padding: 0 20px;
}
  
