.App {
  padding: 0 10vw 0 10vw;
  height: 300vh;
}

.App-logo {
  height: 10vh;
  width: auto;
}

.App-link {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #464648;
  text-decoration: none;
  padding-top: 0.5vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10vw 0 10vw;
}

.section {
  margin: 100vh 0;
}

.hero-section {
  background-color: transparent;
  background-size: cover;
  padding: 0 10vw 0 10vw;
  height: 100vh;
}

h1, header {
  font-family: 'Spectral', serif;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #000000;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #464648;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #000000;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  color: #2A2A2C;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  line-height: 0.8rem;
  letter-spacing: 1rem;
  color: #000000;
}

.card-body {
  margin: 20px 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #5D4037;
  text-align: center;
}

.card-p {
  line-height: 0.8rem;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

h1+.card-p, .card-p+.card-p {
  margin-top: 5px;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info, 
.card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}




.card-wrap:hover .card-bg {
  transition: 
    0.3s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition:
    0.3s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow:
    rgba(255, 255, 255, 0.2) 0 0 20px 2px,
    rgba(255, 255, 255, 1) 0 0 0 1px,
    inset #333 0 0 0 5px,
    inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 100%;
  height: 200px;
  background-color: #793d3dd0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    inset #793d3dd0 0 0 0 5px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: grid;
  place-items: center;
}

.card-bg {
  opacity: 0.8;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  position: absolute;
  align-self: top;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 0.5vh 2vw 0.5vh 2vw;
}

.card-info p {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 2vw 0 0;
  opacity: 0;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  align-self: top;
  z-index: 1;
}
  
.card-info:after {
  content: '';
  position: absolute;
  bottom: 0;    
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

.card-info h1[slot="header"] {
  font-family: 'Spectral', serif;
  font-size: 1.6rem;
  font-weight: 600;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  text-align: left;
  line-height: 1.7rem;
}


.card2 {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.card2-img {
  position: absolute;
  top: 0;
  left: -20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.card2-body {
  padding: 20px;
  margin-left: 80px;
}

.card2-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card2-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-primary {
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


.footer {
  height: '32px';
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #000;
}


